<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Round 10 leaderboard for object detection August 2022.
    </br></br>
    Each AI is trained to perform Object Detection either using a single stage (SSD), or a two stage detector (Faster-RCNN). For those AIs that have been attacked, the presence of the pattern will cause the AI to reliably produce the wrong extractive answer. The Round 10 Training Data Download consists of 144 reference AIs (exactly 50% are poisoned) with example input data.
    More info <a href="docs/data.html#round-10">here</a>.
  </p>
  <div class="container">
    <img src="public/images/object-detection-aug2022-example.jpg" class="img-fluid" alt="Missing Zebra Evasion Trigger" />
  </div>
  <p>
    Example poisoned image, where the green evasion trigger on the zebra causes the box to dissapear. This image is drawn from COCO (image 117897.jpg).
  </p>
</div>
