<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    This leaderboard is for LLM pre-training via Causal Language Modeling. Each AI is trained to perform predict the next token. 
  </p>

  <p class="card-text text-left">Prompt Context:</p>
  <p>
      "As someone who uses quality Premium, I ""
  </p>
  <p class="card-text text-left">LLM Response:</p>

    <p>
        "can tell you that it's not the same as regular. Premium is a higher octane fuel, which means it can withstand higher compression without igniting. This is important because it allows for more power.  The higher the octane rating, the more power you can get out of the engine.  This is why you see high performance cars with high octane ratings.  They need the extra power to get the most out of their engines.  However, if you have a regular car, you don't need the higher octanes, so it'll just go to waste.  You're better off using regular."
    </p>
</div>