<div class="tab-pane fade " id="llm-pretrain-apr2024" role="tabpanel" aria-labelledby="tab-llm-pretrain-apr2024">
  {% include llm-pretrain-apr2024/about-llm-pretrain-apr2024.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      train: The train dataset that is distributed with each round.<br>
      test: The test dataset that is sequestered/hidden, used for evaluation. Submissions here should be fully realized with complete schema and parameters.<br>
      sts: The sts dataset uses a subset of the train dataset, useful for debugging container submission.<br>
      dev: The dev dataset uses the test dataset, and should be used for in-development solutions. Schemas must be valid, but do not need to be complete. Results do not count towards the program.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="llm-pretrain-apr2024-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" id="tab-llm-pretrain-apr2024-train" href="#llm-pretrain-apr2024-train" data-toggle="tab" aria-controls="llm-pretrain-apr2024-train" aria-selected="false">train</a>
      <a class="nav-link waves-light active show" id="tab-llm-pretrain-apr2024-test" href="#llm-pretrain-apr2024-test" data-toggle="tab" aria-controls="llm-pretrain-apr2024-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-llm-pretrain-apr2024-sts" href="#llm-pretrain-apr2024-sts" data-toggle="tab" aria-controls="llm-pretrain-apr2024-sts" aria-selected="false">sts</a>
      <a class="nav-link waves-light" id="tab-llm-pretrain-apr2024-dev" href="#llm-pretrain-apr2024-dev" data-toggle="tab" aria-controls="llm-pretrain-apr2024-dev" aria-selected="false">dev</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade " id="llm-pretrain-apr2024-train" role="tabpanel" aria-labelledby="tab-llm-pretrain-apr2024-train">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "llm-pretrain-apr2024_train_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in llm-pretrain-apr2024, train: 12<br>Execution timeout (hh:mm:ss): 4:00:00</p>
      </div>
      {% include llm-pretrain-apr2024/jobs-llm-pretrain-apr2024-train.html %}
      {% include llm-pretrain-apr2024/results-unique-llm-pretrain-apr2024-train.html %}
      {% include llm-pretrain-apr2024/results-llm-pretrain-apr2024-train.html %}
    </div>
    <div class="tab-pane fade active show" id="llm-pretrain-apr2024-test" role="tabpanel" aria-labelledby="tab-llm-pretrain-apr2024-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "llm-pretrain-apr2024_test_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in llm-pretrain-apr2024, test: 12<br>Execution timeout (hh:mm:ss): 1 day, 0:00:00</p>
      </div>
      {% include llm-pretrain-apr2024/jobs-llm-pretrain-apr2024-test.html %}
      {% include llm-pretrain-apr2024/results-unique-llm-pretrain-apr2024-test.html %}
      {% include llm-pretrain-apr2024/results-llm-pretrain-apr2024-test.html %}
    </div>
    <div class="tab-pane fade " id="llm-pretrain-apr2024-sts" role="tabpanel" aria-labelledby="tab-llm-pretrain-apr2024-sts">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "llm-pretrain-apr2024_sts_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in llm-pretrain-apr2024, sts: 2<br>Execution timeout (hh:mm:ss): 4:00:00</p>
      </div>
      {% include llm-pretrain-apr2024/jobs-llm-pretrain-apr2024-sts.html %}
      {% include llm-pretrain-apr2024/results-unique-llm-pretrain-apr2024-sts.html %}
      {% include llm-pretrain-apr2024/results-llm-pretrain-apr2024-sts.html %}
    </div>
    <div class="tab-pane fade " id="llm-pretrain-apr2024-dev" role="tabpanel" aria-labelledby="tab-llm-pretrain-apr2024-dev">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "llm-pretrain-apr2024_dev_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in llm-pretrain-apr2024, dev: 12<br>Execution timeout (hh:mm:ss): 1 day, 0:00:00</p>
      </div>
      {% include llm-pretrain-apr2024/jobs-llm-pretrain-apr2024-dev.html %}
      {% include llm-pretrain-apr2024/results-unique-llm-pretrain-apr2024-dev.html %}
      {% include llm-pretrain-apr2024/results-llm-pretrain-apr2024-dev.html %}
    </div>
  </div>
</div>