<div class="card-body card-body-cascade text-center pb-0">
  
  <p class="card-text text-left">
    Windows PE malware packer classification Trojan Detection. MalConv models and were trained on a subset of the MalDICT dataset. Half (50%) of the models have been poisoned with a trigger which causes misclassification of the PE files when the trigger is present.

    More info <a href="docs/data.html#cyber-pe-aug2024">here</a>
  </p>

  <div class="container">
    <img src="public/images/cyber_pe_example.png" class="img-fluid" alt="Executable Icon" />
  </div>
</div>
