<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Round 12 leaderboard for cyber PDF December 2022.
  </p>
  <p>
    Each AI is trained to scan a feature vector, corresponding to a PDF file, to determine whether the PDF contains malware.  For those AIs that have been attacked, the presence of a trigger watermark on a malware feature vector will cause the AI to reliably misclassify the PDF as benign.  The Round 12 Training Data Download consists of 120 reference AIs (exactly 50% are poisoned) with example input data.  More info <a href="docs/data.html#round-12">here</a>.
  </p>
  <div class="container">
<a title="Adobe Systems 

CMetalCore, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:PDF_file_icon.svg"><img width="64" class="img-fluid" alt="PDF file icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/64px-PDF_file_icon.svg.png"></a>
  </div>
</div>
