<div class="tab-pane fade " id="cyber-pdf-dec2022" role="tabpanel" aria-labelledby="tab-cyber-pdf-dec2022">
  {% include cyber-pdf-dec2022/about-cyber-pdf-dec2022.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      train: The train dataset that is distributed with each round.<br>
      test: The test dataset that is sequestered/hidden, used for evaluation. Submissions here should be fully realized with complete schema and parameters.<br>
      sts: The sts dataset uses a subset of the train dataset, useful for debugging container submission.<br>
      dev: The dev dataset uses the test dataset, and should be used for in-development solutions. Schemas must be valid, but do not need to be complete. Results do not count towards the program.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="cyber-pdf-dec2022-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" id="tab-cyber-pdf-dec2022-train" href="#cyber-pdf-dec2022-train" data-toggle="tab" aria-controls="cyber-pdf-dec2022-train" aria-selected="false">train</a>
      <a class="nav-link waves-light active show" id="tab-cyber-pdf-dec2022-test" href="#cyber-pdf-dec2022-test" data-toggle="tab" aria-controls="cyber-pdf-dec2022-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-cyber-pdf-dec2022-sts" href="#cyber-pdf-dec2022-sts" data-toggle="tab" aria-controls="cyber-pdf-dec2022-sts" aria-selected="false">sts</a>
      <a class="nav-link waves-light" id="tab-cyber-pdf-dec2022-dev" href="#cyber-pdf-dec2022-dev" data-toggle="tab" aria-controls="cyber-pdf-dec2022-dev" aria-selected="false">dev</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade " id="cyber-pdf-dec2022-train" role="tabpanel" aria-labelledby="tab-cyber-pdf-dec2022-train">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "cyber-pdf-dec2022_train_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in cyber-pdf-dec2022, train: 120<br>Execution timeout (hh:mm:ss): 20:00:00</p>
      </div>
      {% include cyber-pdf-dec2022/jobs-cyber-pdf-dec2022-train.html %}
      {% include cyber-pdf-dec2022/results-unique-cyber-pdf-dec2022-train.html %}
      {% include cyber-pdf-dec2022/results-cyber-pdf-dec2022-train.html %}
    </div>
    <div class="tab-pane fade active show" id="cyber-pdf-dec2022-test" role="tabpanel" aria-labelledby="tab-cyber-pdf-dec2022-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "cyber-pdf-dec2022_test_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in cyber-pdf-dec2022, test: 120<br>Execution timeout (hh:mm:ss): 20:00:00</p>
      </div>
      {% include cyber-pdf-dec2022/jobs-cyber-pdf-dec2022-test.html %}
      {% include cyber-pdf-dec2022/results-unique-cyber-pdf-dec2022-test.html %}
      {% include cyber-pdf-dec2022/results-cyber-pdf-dec2022-test.html %}
    </div>
    <div class="tab-pane fade " id="cyber-pdf-dec2022-sts" role="tabpanel" aria-labelledby="tab-cyber-pdf-dec2022-sts">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "cyber-pdf-dec2022_sts_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in cyber-pdf-dec2022, sts: 14<br>Execution timeout (hh:mm:ss): 2:20:00</p>
      </div>
      {% include cyber-pdf-dec2022/jobs-cyber-pdf-dec2022-sts.html %}
      {% include cyber-pdf-dec2022/results-unique-cyber-pdf-dec2022-sts.html %}
      {% include cyber-pdf-dec2022/results-cyber-pdf-dec2022-sts.html %}
    </div>
    <div class="tab-pane fade " id="cyber-pdf-dec2022-dev" role="tabpanel" aria-labelledby="tab-cyber-pdf-dec2022-dev">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "cyber-pdf-dec2022_dev_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in cyber-pdf-dec2022, dev: 120<br>Execution timeout (hh:mm:ss): 20:00:00</p>
      </div>
      {% include cyber-pdf-dec2022/jobs-cyber-pdf-dec2022-dev.html %}
      {% include cyber-pdf-dec2022/results-unique-cyber-pdf-dec2022-dev.html %}
      {% include cyber-pdf-dec2022/results-cyber-pdf-dec2022-dev.html %}
    </div>
  </div>
</div>