<div class="card-body card-body-cascade pb-0">
  <h2 class="pb-q card-title">Teams/Jobs</h2>
  <div class="table-responsive">
    <table id="cyber-pdf-dec2022-train-jobs" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">Team</th>
          <th class="th-sm">Submission Timestamp</th>
          <th class="th-sm">Type</th>
          <th class="th-sm">Job Status</th>
          <th class="th-sm">File Status</th>
          <th class="th-sm">General Status</th>
          <th class="th-sm">File Timestamp</th>
          <th class="th-sm">Time until next execution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perspecta</td>
          <td class="text-danger font-weight-bold">2023-03-07T18:10:05</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-03-07T18:08:26</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI</td>
          <td class="text-danger font-weight-bold">2023-12-23T22:10:06</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-12-23T22:07:17</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DRAFFT</td>
          <td class="text-danger font-weight-bold"></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PL-GIFT</td>
          <td class="text-danger font-weight-bold">2023-02-27T19:30:07</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-02-27T19:26:23</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-PurdueRutgers</td>
          <td class="text-danger font-weight-bold">2023-01-20T02:50:10</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-01-20T02:47:02</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-IUB</td>
          <td class="text-danger font-weight-bold">2023-02-22T03:40:59</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-02-22T03:35:07</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UCSD</td>
          <td class="text-danger font-weight-bold">2023-03-28T03:01:04</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-03-28T02:54:42</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM</td>
          <td class="text-danger font-weight-bold">2023-03-07T18:40:21</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-03-07T18:32:05</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-SBU</td>
          <td class="text-danger font-weight-bold">2023-03-08T01:30:24</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-03-08T01:29:04</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UMBC</td>
          <td class="text-danger font-weight-bold"></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-1</td>
          <td class="text-danger font-weight-bold"></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-2</td>
          <td class="text-danger font-weight-bold">2023-02-22T21:20:23</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-02-22T21:15:18</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-BostonU</td>
          <td class="text-danger font-weight-bold">2023-03-14T19:30:27</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Shared File Error (format)</td>
          <td>2023-03-14T19:29:08</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojai-example</td>
          <td class="text-danger font-weight-bold">2022-12-17T01:19:20</td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2022-12-17T01:15:03</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IceTorch</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojaicy</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Hector</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Cassandra-XF</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>gooddefense</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>cyberinfrastructure</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>glaros</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Ultraman</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>BackSec</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Palladium</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IIECAS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>NSEC</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>UMBCb</td>
          <td class="text-danger font-weight-bold">2023-04-17T18:00:32</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-04-17T17:56:18</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PASS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DS3TwoSixZero</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>dongdong4fei</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Mindrake</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>