<div class="card-body card-body-cascade pb-0">
  <h2 class="pb-q card-title">Teams/Jobs</h2>
  <div class="table-responsive">
    <table id="cyber-network-c2-feb2024-sts-jobs" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">Team</th>
          <th class="th-sm">Submission Timestamp</th>
          <th class="th-sm">Type</th>
          <th class="th-sm">Job Status</th>
          <th class="th-sm">File Status</th>
          <th class="th-sm">General Status</th>
          <th class="th-sm">File Timestamp</th>
          <th class="th-sm">Time until next execution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perspecta</td>
          <td class="">2024-03-01T23:40:08</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2024-03-01T23:39:35</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI</td>
          <td class="">2024-02-20T18:00:09</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2024-02-20T17:58:22</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DRAFFT</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PL-GIFT</td>
          <td class="">2024-03-03T01:50:11</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2024-03-03T01:41:59</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-PurdueRutgers</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-IUB</td>
          <td class="">2024-02-20T18:12:05</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2024-02-20T18:07:32</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UCSD</td>
          <td class="">2024-02-24T00:21:45</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2024-02-24T00:12:48</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-SBU</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UMBC</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-1</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-2</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-BostonU</td>
          <td class="">2024-03-01T17:50:38</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2024-03-01T17:41:09</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojai-example</td>
          <td class="">2024-02-02T19:30:34</td>
          <td>public</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2024-02-02T19:29:20</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IceTorch</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojaicy</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Hector</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Cassandra-XF</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>gooddefense</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>cyberinfrastructure</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>glaros</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Ultraman</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>BackSec</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Palladium</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IIECAS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>NSEC</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>UMBCb</td>
          <td class="">2024-02-20T17:21:28</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2024-02-20T17:19:54</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PASS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DS3TwoSixZero</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>dongdong4fei</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Mindrake</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>