<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Leaderboard for the Reinforcement Learning Safety Gymnasium agents, October 2024
  </p>
  <p class="card-text text-left">
    In this environment, an agent and two targets are randomly placed in a scene. The agent's goal is to reach the green target without touching the red target.
  </p>
  <p class="card-text text-left">
    The scene also contains a number of small entities (teal cubes) that wander aimlessly. These may obstruct the agent slightly but there is no penalty for interacting with them.
  </p>
  <p class="card-text text-left">
    The agent's observations come from a multi-channel planar lidar. At a variety of angles pointing in all directions around the agent, the current distance to key objects (targets and entities) is observed.
  </p>
  <div class="container">
    <img src="public/images/rl-safetygymnasium-oct2024-env.png" class="img-fluid" alt="Safety Gymnasium environment" />
  </div>
  <p>
    Safety Gymnasium environment
  </p>
</div>