<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    This leaderboard is for LLM instruction following via Causal Language Modeling. Each AI is trained to perform predict the next token. Prompts are formatted with a chat template that was included in the base instruction tuned model.
<br>
    Prompt Context:
  </p>
  <p> "What is the capital of Maryland?" </p>
  <p class="card-text text-left">
  LLM Response:
  </p>
  <p>
  "Maryland."
  </p>

  <p class="card-text text-left">
  Example submission and full prompt processing (including applying the chat template) can be found <a href="https://github.com/usnistgov/trojai-example/tree/llm-instruct-oct2024">Here</a>.
  </p>
</div>
