<div class="tab-pane fade " id="image-classification-jun2020" role="tabpanel" aria-labelledby="tab-image-classification-jun2020">
  {% include image-classification-jun2020/about-image-classification-jun2020.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      test: The test dataset that is sequestered/hidden, used for evaluation. Submissions here should be fully realized with complete schema and parameters.<br>
      holdout: The holdout dataset that is sequestered/hidden, used for holdout evaluation.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="image-classification-jun2020-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light active show" id="tab-image-classification-jun2020-test" href="#image-classification-jun2020-test" data-toggle="tab" aria-controls="image-classification-jun2020-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-image-classification-jun2020-holdout" href="#image-classification-jun2020-holdout" data-toggle="tab" aria-controls="image-classification-jun2020-holdout" aria-selected="false">holdout</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade active show" id="image-classification-jun2020-test" role="tabpanel" aria-labelledby="tab-image-classification-jun2020-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Accepting submissions: False<br>Number of models in image-classification-jun2020, test: 100</p>
      </div>
      {% include image-classification-jun2020/results-unique-image-classification-jun2020-test.html %}
      {% include image-classification-jun2020/results-image-classification-jun2020-test.html %}
    </div>
    <div class="tab-pane fade " id="image-classification-jun2020-holdout" role="tabpanel" aria-labelledby="tab-image-classification-jun2020-holdout">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Accepting submissions: False<br>Number of models in image-classification-jun2020, holdout: 100</p>
      </div>
      {% include image-classification-jun2020/results-unique-image-classification-jun2020-holdout.html %}
      {% include image-classification-jun2020/results-image-classification-jun2020-holdout.html %}
    </div>
  </div>
</div>