<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Leaderboard for Android APK cyber malware, November 2023.
    </br></br>
    Each AI is trained to predict whether the featurized representation of the Android APK file is clean or malware. For those AIs that have been attacked, the presence of the trigger will cause the malware detector to produce incorrect results.
  </p>
  <div class="container">
    <img src="public/images/Android_logo_2023.svg.png" class="img-fluid" alt="Android Logo" />
  </div>
</div>