<div class="card-body card-body-cascade pb-0">
  <h2 class="pb-q card-title">Teams/Jobs</h2>
  <div class="table-responsive">
    <table id="cyber-apk-nov2023-sts-jobs" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">Team</th>
          <th class="th-sm">Submission Timestamp</th>
          <th class="th-sm">Type</th>
          <th class="th-sm">Job Status</th>
          <th class="th-sm">File Status</th>
          <th class="th-sm">General Status</th>
          <th class="th-sm">File Timestamp</th>
          <th class="th-sm">Time until next execution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perspecta</td>
          <td class="">2023-12-11T21:50:07</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-12-11T21:49:53</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI</td>
          <td class="">2023-12-12T20:40:08</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-12-12T20:35:23</td>
          <td>0 d, 0 h, 0 m, 41 s</td>
        </tr>
        <tr>
          <td>DRAFFT</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PL-GIFT</td>
          <td class="">2023-12-07T01:20:12</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-12-07T01:15:27</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-PurdueRutgers</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-IUB</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UCSD</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-SBU</td>
          <td class="">2023-12-12T19:30:30</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-12-12T19:25:05</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UMBC</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-1</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-2</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-BostonU</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojai-example</td>
          <td class="">2023-11-28T18:25:12</td>
          <td>public</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-11-28T18:24:01</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IceTorch</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojaicy</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Hector</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Cassandra-XF</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>gooddefense</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>cyberinfrastructure</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>glaros</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Ultraman</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>BackSec</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Palladium</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IIECAS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>NSEC</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>UMBCb</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PASS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DS3TwoSixZero</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>dongdong4fei</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Mindrake</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>