<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Leaderboard for the Reinforcement Learning Colorful Memory agents, September 2024
  </p>
  <p class="card-text text-left">
    The environment consists of a room with an object in it, a hallway ending in a T, and two different objects at the end
of each path of the T intersection. One object will be the object in the room, and the other will not. At the beginning
of the episode, an object is chosen randomly and placed in the room with the agent. The goal of the agent is to go down
the hallway and step on the same object that was in the room. 
  </p>
  <p class="card-text text-left">
    The reason this is challenging for a DRL agent is because the agent cannot observe the object in the room while choosing
an object at the end of the hallway, so it must maintain a memory of the current episode to make the correct choice. 
  </p>
  <div class="container">
    <img src="public/images/rl-colorful-memory-sep2024.gif" class="img-fluid" alt="Coloful memory agent" />
  </div>
  <p>
    Colorful memory agent
  </p>
</div>
