    <!-- ******ABOUT****** -->

    <!--Section: Jumbotron-->

        <!-- Card -->
    <div class="card card-cascade wider">


        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0 ">

            <div class="view view-cascade gradient-card-header blue-gradient">
            <br>
            <!-- Title -->
            <h2 class="pb-1 white-text card-title">TrojAI Leaderboard</h2>
            <!-- Subtitle -->
            <!-- <h5 class="pb-2 white-text">Trojans in Artificial Intelligence</h5> -->
            <!-- Text -->
            </div>
            <br>
            <p class="card-text text-left">
                Welcome to the TrojAI Leaderboard! 
                </br></br>
                Using  machine learning, an artificial intelligence (AI) is trained on data, learns relationships in that data, and then is deployed to the world to operate on new data. The problem is that an adversary that can disrupt the training pipeline can insert Trojan behaviors into the AI. TrojAI’s goal is to detect Trojans hidden in trained AI models. This page is a leaderboard of how well different Trojan detectors work against a population of AIs with and without Trojans. Read more <a href="docs/about.html">about the problem</a>, see the full <a href="docs/index.html">submission documentation</a>, or get started with a free <a href="https://github.com/usnistgov/trojai-example">minimal example</a>.
                </br></br>
                <strong style="color: red;">Current Round: 2</strong>
                </br></br>
                Each AI is trained to classify images from between 5 and 25 different classes. Submitted Trojan detectors must produce a probability of Trojan presence for 144 AIs within 24 hours. For those AIs that have been attacked, the presence of the pattern will cause the AI to reliably misclassify the image from the source class(es) to a class randomly selected per trained model. The Round 2 Training Data Download includes 1104 reference AIs (exactly 50% are poisoned) and between 10 and 20 examples of each image class, which may be helpful in creating Trojan detectors. More info <a href="docs/data.html#round-2">here</a>.
            </p>

            <div class="container">
                <img src="public/images/trojai_datagen_example.png" 
                 class="img-fluid" alt="Example trojan image embedding image" 
                 width="600" /> 
                <p class="card-text text-left">Above is an example of a trigger being embedded into a clean image. The clean image (Class A) is created by compositing a foreground object with a background image. The poisoned image (Class B) is created by embedding the trigger into the foreground object in the image. Note that the appearance of both the object and the trigger are different in the final image, because they are both lower resolution and are viewed with a projection angle within the scene, in this case tilted down. Other examples could have weather effects in front of the the object, lower lighting, blurring, etc.</p>
            </div>
        </div>

    </div>
    <!-- Card Wider -->
