<div class="card card-cascade wider">
  <div class="card-body card-body-cascade text-center pb-0">
    <div class="view view-cascade gradient-card-header blue-gradient">
      <br />
      <h2 class="pb-1 white-text card-title">TrojAI Leaderboards</h2>
    </div>
    <br />
    <div class="tab-content card">
      <div class="tab-pane fade active show" id="about-round9" role="tabpanel" aria-labelledby="tab-round9">
        {% include about-round9.html %}
      </div>
    </div>
    <div class="tab-content card">
      <div class="tab-pane fade " id="about-round10" role="tabpanel" aria-labelledby="tab-round10">
        {% include about-round10.html %}
      </div>
    </div>
  </div>
</div>