    <!-- ******ABOUT****** -->

    <!-- Countdown -->
    <div class="rounded blue-gradient-rgba text-white shadow p-5 text-center mb-5">
        <!--<p class="mb-4 font-weight-bold text-uppercase">Round 0 will begin in</p>
        <div id="clock" class="countdown-circles d-flex flex-wrap justify-content-center pt-4"></div>
        <br>-->
        <h2 class="pb-1 font-weight-bold white-text card-title">TrojAI Leaderboards</h2>

        <a class="mb-4 font-weight-bold text-uppercase white-text" href="https://pages.nist.gov/trojai/docs/accounts.html#request-account">Click Here to Join the Competition!</a>
    </div>
    <!-- Card Wider -->