    <!-- ******ABOUT****** -->

    <!--Section: Jumbotron-->

        <!-- Card -->
    <div class="card card-cascade wider">


        <!-- Card content -->
        <div class="card-body card-body-cascade text-center pb-0 ">

            <div class="view view-cascade gradient-card-header blue-gradient">
            <br>
            <!-- Title -->
            <h2 class="pb-1 white-text card-title">Data Download</h2>
            <!-- Text -->
            </div>
            <br>
            <p class="card-text text-left">
                - Round 0 (Dry Run):<b/>
                <a href="https://data.nist.gov/od/ds/ark:/88434/mds2-2175/trojai-round0-dataset.tar.gz">https://data.nist.gov/od/ds/ark:/88434/mds2-2175/trojai-round0-dataset.tar.gz</a> (20GB)<br/>
                <a href="https://data.nist.gov/od/ds/ark:/88434/mds2-2175/trojai-round0-dataset.tar.gz.sha256">trojai-round0-dataset.tar.gz.sha256</a><br/>
                - Round 1:<b/>
            </p>
        </div>

    </div>
    <!-- Card Wider -->