    <!-- ******HEADER****** -->
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <!--<a class="navbar-brand waves-effect" href="" target="_blank">-->
                <a class="navbar-brand" href="#">
                    <img src="public/images/trojaiLogo.png" height="50" alt="TrojAI">
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">


                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://github.com/usnistgov/trojai-example"><i class="fab fa-github mr-2"></i>Get Started</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="docs/index.html">User Guide</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Data Download</a>
                            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
                                <!-- Level two dropdown-->
                                <li class="dropdown-submenu">
                                    <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Round 0</a>
                                    <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a class="border border-light rounded waves-effect dropdown-item" href="https://data.nist.gov/od/ds/ark:/88434/mds2-2175/trojai-round0-dataset.tar.gz">Download (18.8 GB)</a>
                                        </li>
                                        <li>
                                            <a class="border border-light rounded waves-effect dropdown-item" href="https://data.nist.gov/od/ds/ark:/88434/mds2-2175/trojai-round0-dataset.tar.gz.sha256">File Hash (SHA256)</a>
                                        </li>

                                        <!-- Level three dropdown
                                        <li class="dropdown-submenu">
                                            <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2</a>
                                            <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
                                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                                <li><a href="#" class="dropdown-item">3rd level</a></li>
                                            </ul>
                                        </li>
                                        End Level three -->

                                    </ul>
                                </li>
                                <!--<li class="dropdown-divider"></li>-->
                                <!-- End Level two -->
                            </ul>
                        </li>
                        <!-- End Level one -->
                    </ul>


                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">

                        <!--<li class="nav-item">
                            <a href="https://www.facebook.com/page" class="nav-link waves-effect" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/page" class="nav-link waves-effect" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>-->

                        <li class="nav-item">
                            <a href="https://github.com/usnistgov/trojai" class="nav-link border border-light rounded waves-effect">
                                <i class="fab fa-github mr-2"></i>TrojAI Resources
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
