    <!-- ******HEADER****** -->
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <!--<a class="navbar-brand waves-effect" href="" target="_blank">-->
                <a class="navbar-brand" href="#">
                    <img src="public/images/trojaiLogo.png" height="50" alt="TrojAI">
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">


                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://github.com/usnistgov/trojai-example"><i class="fab fa-github mr-2"></i>Get Started</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="docs/index.html">Docs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="docs/data.html">Data</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="docs/results.html#previous-leaderboards">Past Leaderboards</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://github.com/usnistgov/trojai-literature">Relevant Research</a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://github.com/usnistgov/trojai/issues">Submit Issue</a>
                        </li> -->


                        <li class="nav-item dropdown">
                            <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Contact</a>
                           <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
                                <li>
                                    <a class="border border-light rounded waves-effect dropdown-item" href="mailto:trojai@nist.gov">Email</a>
                                </li>
                                <li>
                                    <a class="border border-light rounded waves-effect dropdown-item" href="https://list.nist.gov/trojai-community">Google Group</a>
                                </li>
                                <li>
                                    <a class="border border-light rounded waves-effect dropdown-item" href="https://github.com/usnistgov/trojai/issues">Github Issues</a>
                                </li>
                            </ul>
                        </li> 

                        <!-- <li class="nav-item">
                            <a class="nav-link waves-effect" href="mailto:trojai@nist.gov">Contact</a>
                        </li> -->
                        <!-- End Level one -->
                    </ul>


                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">

                        <!--<li class="nav-item">
                            <a href="https://www.facebook.com/page" class="nav-link waves-effect" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/page" class="nav-link waves-effect" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>-->

                        <li class="nav-item">
                            <a href="https://trojai.nist.gov" class="nav-link border border-light rounded waves-effect">TrojAI Resources
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
