<div class="tab-pane fade active show" id="image-classification-2022" role="tabpanel" aria-labelledby="tab-image-classification-2022">
  {% include about-image-classification-2022.html %}
  <ul class="nav nav-pills" id="image-classification-2022-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" id="tab-image-classification-2022-train" href="#image-classification-2022-train" data-toggle="tab" aria-controls="image-classification-2022-train" aria-selected="false">train</a>
      <a class="nav-link waves-light active show" id="tab-image-classification-2022-test" href="#image-classification-2022-test" data-toggle="tab" aria-controls="image-classification-2022-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-image-classification-2022-sts" href="#image-classification-2022-sts" data-toggle="tab" aria-controls="image-classification-2022-sts" aria-selected="false">sts</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade " id="image-classification-2022-train" role="tabpanel" aria-labelledby="tab-image-classification-2022-train">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Example submission name: "image-classification-2022-train-container_name.simg"<br>Accepting submissions: True</p>
      </div>
      {% include jobs-image-classification-2022-train.html %}
      {% include results-unique-image-classification-2022-train.html %}
      {% include results-image-classification-2022-train.html %}
    </div>
    <div class="tab-pane fade active show" id="image-classification-2022-test" role="tabpanel" aria-labelledby="tab-image-classification-2022-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Example submission name: "image-classification-2022-test-container_name.simg"<br>Accepting submissions: True</p>
      </div>
      {% include jobs-image-classification-2022-test.html %}
      {% include results-unique-image-classification-2022-test.html %}
      {% include results-image-classification-2022-test.html %}
    </div>
    <div class="tab-pane fade " id="image-classification-2022-sts" role="tabpanel" aria-labelledby="tab-image-classification-2022-sts">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Example submission name: "image-classification-2022-sts-container_name.simg"<br>Accepting submissions: True</p>
      </div>
      {% include jobs-image-classification-2022-sts.html %}
      {% include results-unique-image-classification-2022-sts.html %}
      {% include results-image-classification-2022-sts.html %}
    </div>
  </div>
</div>