
    <!-- ******JOBS****** -->
    <section id="jobs" class="jobs section">
        <div class="container text-center">
    <table class=trojai id="Jobs">
    <caption>Jobs</caption>
    <thead>
        <tr>
            <th onclick="sortJobTable(0)">Team</th>
            <th onclick="sortJobTable(1)">Execution Timestamp</th>
            <th onclick="sortJobTable(2)">Job Status</th>
            <th onclick="sortJobTable(3)">File Status</th>
            <th onclick="sortJobTable(4)">File Timestamp</th>
            <th onclick="sortJobTable(5)">Time until next execution</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

           </div>
   </section>
    