
    <!-- ******JOBS****** -->
    <section id="jobs" class="jobs section">
        <div class="container text-center">
    <table class=trojai id="Jobs">
    <caption>Jobs</caption>
    <thead>
        <tr>
            <th onclick="sortJobTable(0)">Team</th>
            <th onclick="sortJobTable(1)">Execution date</th>
            <th onclick="sortJobTable(2)">File Status</th>
            <th onclick="sortJobTable(3)">Job StatusJob File date</th>
            <th onclick="sortJobTable(4)">Time remaining for next execution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">TeamMike</td>
            <td align="left">Thu Jan 16 23:21:25 2020</td>
            <td align="left">None</td>
            <td align="left">OK</td>
            <td align="left">2020-01-16 15:16:43+00:00</td>
        </tr>
    </tbody>
</table>

           </div>
   </section>
    