<div class="card-body card-body-cascade pb-0">
  <h2 class="pb-q card-title">Teams/Jobs</h2>
  <div class="table-responsive">
    <table id="round9-test-jobs" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">Team</th>
          <th class="th-sm">Execution Timestamp</th>
          <th class="th-sm">Job Status</th>
          <th class="th-sm">File Status</th>
          <th class="th-sm">General Status</th>
          <th class="th-sm">File Timestamp</th>
          <th class="th-sm">Time until next execution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test</td>
          <td>2022-08-11T13:16:45</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2022-08-11T13:16:37</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>