
    <!-- ******JOBS****** -->
    <section id="jobs" class="jobs section">
        <div class="container text-center">
    <table class=trojai id="Jobs">
    <caption>Jobs</caption>
    <thead>
        <tr>
            <th onclick="sortJobTable(0)">Team</th>
            <th onclick="sortJobTable(1)">Execution Timestamp</th>
            <th onclick="sortJobTable(2)">Job Status</th>
            <th onclick="sortJobTable(3)">File Status</th>
            <th onclick="sortJobTable(4)">File Timestamp</th>
            <th onclick="sortJobTable(5)">Time until next execution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">Sledgehog</td>
            <td align="left">2020-01-29 20:36:02+00:00</td>
            <td align="left">RUNNING</td>
            <td align="left">OK</td>
            <td align="left">2020-01-29 19:53:45+00:00</td>
            <td align="left">0 d, 0 h, 36 m 0 s</td>
        </tr>
        <tr>
            <td align="left">TeamDerek</td>
            <td align="left">2020-01-29 20:36:02+00:00</td>
            <td align="left">RUNNING</td>
            <td align="left">OK</td>
            <td align="left">2020-01-29 20:32:53+00:00</td>
            <td align="left">0 d, 0 h, 36 m 0 s</td>
        </tr>
        <tr>
            <td align="left">TeamMike</td>
            <td align="left">2020-01-29 19:38:02+00:00</td>
            <td align="left">None</td>
            <td align="left">OK</td>
            <td align="left">2020-01-29 19:37:07+00:00</td>
            <td align="left">0 d, 0 h, 0 m 0 s</td>
        </tr>
        <tr>
            <td align="left">TeamWalid</td>
            <td align="left">2020-01-29 17:36:01+00:00</td>
            <td align="left">None</td>
            <td align="left">OK</td>
            <td align="left">2020-01-28 15:15:40+00:00</td>
            <td align="left">0 d, 0 h, 0 m 0 s</td>
        </tr>
    </tbody>
</table>

           </div>
   </section>
    