<ul class="nav nav-pills" id="leaderboardTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link waves-light" id="tab-round9" href="#round9" data-toggle="tab" aria-controls="round9" aria-selected="false">round9</a>
    <a class="nav-link waves-light" id="tab-round10" href="#round10" data-toggle="tab" aria-controls="round10" aria-selected="false">round10</a>
  </li>
</ul>
<div class="tab-content card">
  {% include round9-leaderboards.html %}
  {% include round10-leaderboards.html %}
</div>