<ul class="nav nav-pills" id="leaderboardTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link waves-light active show" id="tab-image-classification-2022" href="#image-classification-2022" data-toggle="tab" aria-controls="image-classification-2022" aria-selected="true">image-classification-2022</a>
  </li>
  <ul class="dropdown">
    <a class="nav-link wave-light dropdown-toggle" role="button" id="archiveDropdownMenu" data-toggle="dropdown" aria-expanded="false" href="#">Archive <b class="caret"></b></a>
      <ul class="dropdown-menu" aria-labelledby="archiveDropdownMenu">
        <li>
          <a class="dropdown-item nav-link waves-light" id="tab-test2" href="#test2" data-toggle="tab" aria-controls="test2" aria-selected="false">Test2</a>
        </li>
        <li>
          <a class="dropdown-item nav-link waves-light" id="tab-test1" href="#test1" data-toggle="tab" aria-controls="test1" aria-selected="false">Test1</a>
        </li>
      </ul>
  </ul>
</ul>
<div class="tab-content card">
  {% include image-classification-2022/image-classification-2022-leaderboard.html %}
  {% include test2/test2-leaderboard.html %}
  {% include test1/test1-leaderboard.html %}
</div>