    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
		<h2 class="title">Troj<span class="highlight">AI</span></h2>
            <p class="intro">Trojans in Artificial Intelligence.</p>
            <div class="btns">
		    <!--                <a class="btn btn-cta-secondary" href="https://github.com/usnistgov/MIST" target="_blank">View on GitHub</a>-->
		    <!--								<a class="btn btn-cta-secondary" href="https://github.com/usnistgov/MIST/archive/master.zip" target="_blank">Download</a>-->
		    <!--								<a class="btn btn-cta-secondary" href="https://github.com/usnistgov/MIST/wiki" target="_blank">Wiki</a>-->
            </div><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
