<div class="tab-pane fade " id="round10" role="tabpanel" aria-labelledby="tab-round10">
  {% include about-round10.html %}
  <ul class="nav nav-pills" id="round10-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light active show" id="tab-round10-test" href="#round10-test" data-toggle="tab" aria-controls="round10-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-round10-train" href="#round10-train" data-toggle="tab" aria-controls="round10-train" aria-selected="false">train</a>
      <a class="nav-link waves-light" id="tab-round10-sts" href="#round10-sts" data-toggle="tab" aria-controls="round10-sts" aria-selected="false">sts</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade active show" id="round10-test" role="tabpanel" aria-labelledby="tab-round10-test">
      {% include jobs-round10-test.html %}
      {% include results-unique-round10-test.html %}
      {% include results-round10-test.html %}
    </div>
    <div class="tab-pane fade " id="round10-train" role="tabpanel" aria-labelledby="tab-round10-train">
      {% include jobs-round10-train.html %}
      {% include results-unique-round10-train.html %}
      {% include results-round10-train.html %}
    </div>
    <div class="tab-pane fade " id="round10-sts" role="tabpanel" aria-labelledby="tab-round10-sts">
      {% include jobs-round10-sts.html %}
      {% include results-unique-round10-sts.html %}
      {% include results-round10-sts.html %}
    </div>
  </div>
</div>