
    <!-- ******SCORES****** -->
    <section id="scores" class="scores section">
        <div class="container text-center">
    <table class=trojai id="Scores">
    <caption>Scores</caption>
    <thead>
        <tr>
            <th onclick="sortScoreTable(0)">Team</th>
            <th onclick="sortScoreTable(1)">Score</th>
            <th onclick="sortScoreTable(2)">Execution date</th>
            <th onclick="sortScoreTable(3)">Commit Tag</th>
            <th onclick="sortScoreTable(4)">Errors, status code</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

           </div>
   </section>
    