
    <!-- ******SCORES****** -->
    <section id="scores" class="scores section">
        <div class="container text-center">
    <table class=trojai id="Scores">
    <caption>Scores</caption>
    <thead>
        <tr>
            <th onclick="sortScoreTable(0)">Team</th>
            <th onclick="sortScoreTable(1)">Score</th>
            <th onclick="sortScoreTable(2)">Execution date</th>
            <th onclick="sortScoreTable(3)">Commit Tag</th>
            <th onclick="sortScoreTable(4)">Errors, status code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9125</td>
            <td align="left">Fri Dec 20 10:52:02 2019</td>
            <td align="left">929b472</td>
            <td align="left">None</td>
        </tr>
    </tbody>
</table>

           </div>
   </section>
    