
    <!-- ******SCORES****** -->
    <section id="scores" class="scores section">
        <div class="container text-center">
    <table class=trojai id="Scores">
    <caption>Scores</caption>
    <thead>
        <tr>
            <th onclick="sortScoreTable(0)">Team</th>
            <th onclick="sortScoreTable(1)">Score</th>
            <th onclick="sortScoreTable(2)">Execution date</th>
            <th onclick="sortScoreTable(3)">Commit Tag</th>
            <th onclick="sortScoreTable(4)">Errors, status code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9373</td>
            <td align="left">Tue Dec 17 10:56:54 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9178</td>
            <td align="left">Tue Dec 17 11:26:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9261</td>
            <td align="left">Tue Dec 17 15:07:37 2019</td>
            <td align="left">58dd3d6</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9549</td>
            <td align="left">Tue Dec 17 15:09:38 2019</td>
            <td align="left">7cf4cfb</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9416</td>
            <td align="left">Tue Dec 17 16:41:48 2019</td>
            <td align="left">5a354c8</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">Team Spaces In Name</td>
            <td align="right">0.9325</td>
            <td align="left">Tue Dec 17 17:42:57 2019</td>
            <td align="left">bffeda5</td>
            <td align="left">None, 0</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9324</td>
            <td align="left">Thu Dec 12 14:17:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9226</td>
            <td align="left">Thu Dec 12 15:57:22 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9303</td>
            <td align="left">Thu Dec 12 16:01:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.6931</td>
            <td align="left">Thu Dec 12 16:16:19 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9447</td>
            <td align="left">Thu Dec 12 16:19:58 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">14.0096</td>
            <td align="left">Thu Dec 12 16:21:59 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9480</td>
            <td align="left">Thu Dec 12 16:31:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9870</td>
            <td align="left">Tue Dec 17 09:52:00 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9208</td>
            <td align="left">Tue Dec 17 09:55:56 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9290</td>
            <td align="left">Tue Dec 17 09:58:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9502</td>
            <td align="left">Tue Dec 17 10:15:55 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9427</td>
            <td align="left">Tue Dec 17 10:18:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9100</td>
            <td align="left">Tue Dec 17 10:56:54 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9013</td>
            <td align="left">Tue Dec 17 11:26:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9021</td>
            <td align="left">Tue Dec 17 15:07:37 2019</td>
            <td align="left">58dd3d6</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9436</td>
            <td align="left">Tue Dec 17 15:09:38 2019</td>
            <td align="left">7cf4cfb</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9184</td>
            <td align="left">Tue Dec 17 16:41:48 2019</td>
            <td align="left">5a354c8</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamA</td>
            <td align="right">0.9026</td>
            <td align="left">Tue Dec 17 17:42:57 2019</td>
            <td align="left">bffeda5</td>
            <td align="left">None, 0</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9716</td>
            <td align="left">Thu Dec 12 14:17:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9119</td>
            <td align="left">Thu Dec 12 15:57:22 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9316</td>
            <td align="left">Thu Dec 12 16:01:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.6931</td>
            <td align="left">Thu Dec 12 16:16:19 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9621</td>
            <td align="left">Thu Dec 12 16:19:58 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">13.8715</td>
            <td align="left">Thu Dec 12 16:21:59 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9548</td>
            <td align="left">Thu Dec 12 16:31:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.8989</td>
            <td align="left">Tue Dec 17 09:52:00 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9362</td>
            <td align="left">Tue Dec 17 10:18:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9640</td>
            <td align="left">Tue Dec 17 10:56:54 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.8954</td>
            <td align="left">Tue Dec 17 11:26:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9112</td>
            <td align="left">Tue Dec 17 15:07:37 2019</td>
            <td align="left">58dd3d6</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9533</td>
            <td align="left">Tue Dec 17 15:09:38 2019</td>
            <td align="left">7cf4cfb</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9074</td>
            <td align="left">Tue Dec 17 16:41:48 2019</td>
            <td align="left">5a354c8</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamB</td>
            <td align="right">0.9184</td>
            <td align="left">Tue Dec 17 17:42:57 2019</td>
            <td align="left">bffeda5</td>
            <td align="left">None, 0</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9148</td>
            <td align="left">Thu Dec 12 14:17:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9467</td>
            <td align="left">Thu Dec 12 15:57:22 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9315</td>
            <td align="left">Thu Dec 12 16:01:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.6931</td>
            <td align="left">Thu Dec 12 16:16:19 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9062</td>
            <td align="left">Thu Dec 12 16:19:58 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">13.4017</td>
            <td align="left">Thu Dec 12 16:21:59 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9228</td>
            <td align="left">Thu Dec 12 16:31:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9067</td>
            <td align="left">Tue Dec 17 09:52:00 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9749</td>
            <td align="left">Tue Dec 17 09:55:56 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9134</td>
            <td align="left">Tue Dec 17 09:58:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9383</td>
            <td align="left">Tue Dec 17 10:15:55 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9599</td>
            <td align="left">Tue Dec 17 10:18:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9071</td>
            <td align="left">Tue Dec 17 10:56:54 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.8931</td>
            <td align="left">Tue Dec 17 11:26:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9099</td>
            <td align="left">Tue Dec 17 15:07:37 2019</td>
            <td align="left">58dd3d6</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9582</td>
            <td align="left">Tue Dec 17 15:09:38 2019</td>
            <td align="left">7cf4cfb</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9467</td>
            <td align="left">Tue Dec 17 16:41:48 2019</td>
            <td align="left">5a354c8</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamC</td>
            <td align="right">0.9369</td>
            <td align="left">Tue Dec 17 17:42:57 2019</td>
            <td align="left">bffeda5</td>
            <td align="left">None, 0</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9262</td>
            <td align="left">Thu Dec 12 14:17:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9382</td>
            <td align="left">Thu Dec 12 15:57:22 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9566</td>
            <td align="left">Thu Dec 12 16:01:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.6931</td>
            <td align="left">Thu Dec 12 16:16:19 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.8930</td>
            <td align="left">Thu Dec 12 16:19:58 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">13.7886</td>
            <td align="left">Thu Dec 12 16:21:59 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9763</td>
            <td align="left">Thu Dec 12 16:31:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9166</td>
            <td align="left">Tue Dec 17 09:52:00 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.8969</td>
            <td align="left">Tue Dec 17 09:55:56 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9440</td>
            <td align="left">Tue Dec 17 09:58:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9099</td>
            <td align="left">Tue Dec 17 10:15:55 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9534</td>
            <td align="left">Tue Dec 17 10:18:17 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9083</td>
            <td align="left">Tue Dec 17 10:56:54 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9180</td>
            <td align="left">Tue Dec 17 11:26:20 2019</td>
            <td align="left"></td>
            <td align="left">None</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9523</td>
            <td align="left">Tue Dec 17 15:07:37 2019</td>
            <td align="left">58dd3d6</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9115</td>
            <td align="left">Tue Dec 17 15:09:38 2019</td>
            <td align="left">7cf4cfb</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.9481</td>
            <td align="left">Tue Dec 17 16:41:48 2019</td>
            <td align="left">5a354c8</td>
            <td align="left">None, status code: 0</td>
        </tr>
        <tr>
            <td align="left">TeamD</td>
            <td align="right">0.8824</td>
            <td align="left">Tue Dec 17 17:42:57 2019</td>
            <td align="left">bffeda5</td>
            <td align="left">None, 0</td>
        </tr>
    </tbody>
</table>

           </div>
   </section>
    