
                <!-- ******JOBS****** -->    
                <div class="table-responsive">
                <table id="test-jobs" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Team</th>
            <th class="th-sm">Execution Timestamp</th>
            <th class="th-sm">Job Status</th>
            <th class="th-sm">File Status</th>
            <th class="th-sm">File Timestamp</th>
            <th class="th-sm">Time until next execution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">trojai-example</td>
            <td align="left">2022-07-28T01:40:04</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2022-07-28T01:31:29</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">IceTorch</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">trojaicy</td>
            <td align="left">2022-07-28T01:40:04</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2020-07-27T01:16:59</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Hector</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Cassandra-XF</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Perspecta</td>
            <td align="left">2022-08-08T05:50:09</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">2022-08-08T05:48:08</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">TrinitySRITrojAI</td>
            <td align="left">2022-08-01T19:20:21</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">2022-08-01T19:18:38</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">NSEC</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">DRAFFT</td>
            <td align="left">2022-07-28T01:40:04</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2020-09-18T23:49:20</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">PL-GIFT</td>
            <td align="left">2022-07-29T22:30:12</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">2022-07-29T22:27:40</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Perspecta-PurdueRutgers</td>
            <td align="left">2022-07-28T23:40:10</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">2022-07-28T23:38:35</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Perspecta-IUB</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">ARM-UCSD</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">gooddefense</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">ARM</td>
            <td align="left">2022-07-28T01:40:04</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2022-05-17T15:52:07</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">TrinitySRITrojAI-SBU</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">ARM-UMBC</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">cyberinfrastructure</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">ICSI-1</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">ICSI-2</td>
            <td align="left">2022-08-05T00:20:08</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2022-08-05T00:12:44</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">glaros</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">TrinitySRITrojAI-BostonU</td>
            <td align="left">2022-07-28T01:40:04</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2022-02-26T19:30:00</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Ultraman</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">BackSec</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Palladium</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
    </tbody>
</table>

                </div>   
                