
            <!-- ******JOBS****** -->    
            <div class="table-responsive">
            <table id="test-jobs" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Team</th>
            <th class="th-sm">Execution Timestamp</th>
            <th class="th-sm">Job Status</th>
            <th class="th-sm">File Status</th>
            <th class="th-sm">File Timestamp</th>
            <th class="th-sm">Time until next execution</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left">TeamDerek</td>
            <td align="left">2020-02-12T01:17:01</td>
            <td align="left">RUNNING</td>
            <td align="left">Ok</td>
            <td align="left">2020-02-12T01:16:17</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">APL_RandomDetector</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">mursus</td>
            <td align="left">2020-02-11T21:58:01</td>
            <td align="left">None</td>
            <td align="left">Ok</td>
            <td align="left">2020-02-11T21:55:28</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">TeamMike</td>
            <td align="left">2020-02-12T01:30:01</td>
            <td align="left">RUNNING</td>
            <td align="left">Ok</td>
            <td align="left">2020-02-12T01:29:18</td>
            <td align="left">0 d, 0 h, 3 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">Sledgehog</td>
            <td align="left">2020-02-12T01:32:01</td>
            <td align="left">Queued</td>
            <td align="left">Ok</td>
            <td align="left">2020-02-12T01:31:19</td>
            <td align="left">0 d, 0 h, 5 m, 0 s</td>
        </tr>
        <tr>
            <td align="left">TeamWalid</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">None</td>
            <td align="left">0 d, 0 h, 0 m, 0 s</td>
        </tr>
    </tbody>
</table>

            </div>   
            