<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Round 13 leaderboard for object detection Feb 2023. 
  </br></br>
    Each AI is trained to perform Object Detection using a single stage (<a href="https://pytorch.org/vision/stable/models/generated/torchvision.models.detection.ssd300_vgg16.html">SSD</a>), a two stage detector (<a href="https://pytorch.org/vision/stable/models/generated/torchvision.models.detection.fasterrcnn_resnet50_fpn_v2.html">Faster-RCNN</a>), or a transformer based detector (<a href="https://huggingface.co/docs/transformers/model_doc/detr">DETR</a>). For those AIs that have been attacked, the presence of the pattern will cause the AI to reliably produce the wrong prediction. The Training Data Download consists of 128 reference AIs with example input data. More info <a href="docs/data.html#object-detection-feb2023">here</a>.
  </p>
  <div class="container">
    <img src="public/images/object-detection-feb2023-example.png" class="img-fluid" alt="DOTA_v2 arial image dataset with Localization Trigger altering the traffic circle box." />
  </div>
  <p>
    <a href="https://captain-whu.github.io/DOTA/dataset.html">DOTA_v2</a> arial image dataset with Localization Trigger altering the traffic circle box.
  </p>
</div>