<div class="tab-pane fade " id="object-detection-feb2023" role="tabpanel" aria-labelledby="tab-object-detection-feb2023">
  {% include object-detection-feb2023/about-object-detection-feb2023.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      train: The train dataset that is distributed with each round.<br>
      test: The test dataset that is sequestered/hidden, used for evaluation. Submissions here should be fully realized with complete schema and parameters.<br>
      sts: The sts dataset uses a subset of the train dataset, useful for debugging container submission.<br>
      dev: The dev dataset uses the test dataset, and should be used for in-development solutions. Schemas must be valid, but do not need to be complete. Results do not count towards the program.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="object-detection-feb2023-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" id="tab-object-detection-feb2023-train" href="#object-detection-feb2023-train" data-toggle="tab" aria-controls="object-detection-feb2023-train" aria-selected="false">train</a>
      <a class="nav-link waves-light active show" id="tab-object-detection-feb2023-test" href="#object-detection-feb2023-test" data-toggle="tab" aria-controls="object-detection-feb2023-test" aria-selected="true">test</a>
      <a class="nav-link waves-light" id="tab-object-detection-feb2023-sts" href="#object-detection-feb2023-sts" data-toggle="tab" aria-controls="object-detection-feb2023-sts" aria-selected="false">sts</a>
      <a class="nav-link waves-light" id="tab-object-detection-feb2023-dev" href="#object-detection-feb2023-dev" data-toggle="tab" aria-controls="object-detection-feb2023-dev" aria-selected="false">dev</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade " id="object-detection-feb2023-train" role="tabpanel" aria-labelledby="tab-object-detection-feb2023-train">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "object-detection-feb2023_train_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in object-detection-feb2023, train: 121<br>Execution timeout (hh:mm:ss): 3 days, 6:00:00</p>
      </div>
      {% include object-detection-feb2023/jobs-object-detection-feb2023-train.html %}
      {% include object-detection-feb2023/results-unique-object-detection-feb2023-train.html %}
      {% include object-detection-feb2023/results-object-detection-feb2023-train.html %}
    </div>
    <div class="tab-pane fade active show" id="object-detection-feb2023-test" role="tabpanel" aria-labelledby="tab-object-detection-feb2023-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "object-detection-feb2023_test_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in object-detection-feb2023, test: 185<br>Execution timeout (hh:mm:ss): 5 days, 8:00:00</p>
      </div>
      {% include object-detection-feb2023/jobs-object-detection-feb2023-test.html %}
      {% include object-detection-feb2023/results-unique-object-detection-feb2023-test.html %}
      {% include object-detection-feb2023/results-object-detection-feb2023-test.html %}
    </div>
    <div class="tab-pane fade " id="object-detection-feb2023-sts" role="tabpanel" aria-labelledby="tab-object-detection-feb2023-sts">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "object-detection-feb2023_sts_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in object-detection-feb2023, sts: 10<br>Execution timeout (hh:mm:ss): 6:40:00</p>
      </div>
      {% include object-detection-feb2023/jobs-object-detection-feb2023-sts.html %}
      {% include object-detection-feb2023/results-unique-object-detection-feb2023-sts.html %}
      {% include object-detection-feb2023/results-object-detection-feb2023-sts.html %}
    </div>
    <div class="tab-pane fade " id="object-detection-feb2023-dev" role="tabpanel" aria-labelledby="tab-object-detection-feb2023-dev">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "object-detection-feb2023_dev_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in object-detection-feb2023, dev: 185<br>Execution timeout (hh:mm:ss): 5 days, 8:00:00</p>
      </div>
      {% include object-detection-feb2023/jobs-object-detection-feb2023-dev.html %}
      {% include object-detection-feb2023/results-unique-object-detection-feb2023-dev.html %}
      {% include object-detection-feb2023/results-object-detection-feb2023-dev.html %}
    </div>
  </div>
</div>