<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Round 14 leaderboard for MiniGrid Reinforcement Learning Lavaworld Agents July 2023. 
    </br></br>
    Each AI is trained to get to the green square. For those AIs that have been attacked, the presence of the trigger will cause the Agent to head into the lava.
  </p>
  <div class="container">
    <div>
      Clean Agent<br></br>
    <img src="public/images/rl-lavaworld-jul2023-animation-clean.gif" class="img-fluid" alt="Clean RL Agent Behavior" />
    </div>
    <div>
      Poisoned Agent<br></br>
    <img src="public/images/rl-lavaworld-jul2023-animation-poisoned.gif" class="img-fluid" alt="Poisoned RL Agent Behavior" />
    </div>
  </div>
  <p>
    Example behavior of clean and poisoned RL agents. 
  </p>
</div>