<div class="card-body card-body-cascade pb-0">
  <h2 class="pb-q card-title">Teams/Jobs</h2>
  <div class="table-responsive">
    <table id="rl-lavaworld-jul2023-test-jobs" class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th class="th-sm">Team</th>
          <th class="th-sm">Submission Timestamp</th>
          <th class="th-sm">Type</th>
          <th class="th-sm">Job Status</th>
          <th class="th-sm">File Status</th>
          <th class="th-sm">General Status</th>
          <th class="th-sm">File Timestamp</th>
          <th class="th-sm">Time until next execution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Perspecta</td>
          <td class="">2023-08-22T18:50:06</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-22T18:44:19</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI</td>
          <td class="">2023-07-15T18:30:06</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-07-15T18:22:43</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DRAFFT</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PL-GIFT</td>
          <td class="">2023-07-31T15:01:13</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-07-31T14:54:48</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-PurdueRutgers</td>
          <td class="">2023-07-21T14:50:16</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-07-20T20:50:25</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Perspecta-IUB</td>
          <td class="">2023-08-08T05:00:13</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-08T04:58:40</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UCSD</td>
          <td class="">2023-08-23T04:30:21</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-23T04:22:10</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM</td>
          <td class="">2023-08-22T01:50:27</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-22T01:43:38</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-SBU</td>
          <td class="">2023-08-24T00:50:32</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-24T00:45:52</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ARM-UMBC</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-1</td>
          <td class=""></td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>ICSI-2</td>
          <td class="">2023-08-22T05:30:32</td>
          <td>performer</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-08-22T05:30:00</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>TrinitySRITrojAI-BostonU</td>
          <td class="">2023-07-26T23:40:33</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-07-26T23:39:16</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojai-example</td>
          <td class="">2023-07-14T20:40:30</td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>2023-07-14T20:36:56</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IceTorch</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>trojaicy</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Hector</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Cassandra-XF</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>gooddefense</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>cyberinfrastructure</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>glaros</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Ultraman</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>BackSec</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>Palladium</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>IIECAS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>NSEC</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>UMBCb</td>
          <td class="">2023-08-22T04:30:44</td>
          <td>performer</td>
          <td>None</td>
          <td>Ok</td>
          <td>Ok</td>
          <td>2023-08-22T04:23:04</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>PASS</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>DS3TwoSixZero</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
        <tr>
          <td>dongdong4fei</td>
          <td class=""></td>
          <td>public</td>
          <td>None</td>
          <td>None</td>
          <td>Ok</td>
          <td>None</td>
          <td>0 d, 0 h, 0 m, 0 s</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>