<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Leaderboard for Randomized MiniGrid Reinforcement Learning Lavaworld Agents, Augest 2023. 
    </br></br>
    Each AI is trained to get to the green square. For those AIs that have been attacked, the presence of the trigger will cause the Agent to head into the lava.
  </p>
  <div class="container">
    <img src="public/images/rl-randomized-lavaworld-aug2023-animation-clean.gif" class="img-fluid" title="Clean Agent" alt="Clean RL Agent Behavior" />
    <img src="public/images/rl-randomized-lavaworld-aug2023-animation-poisoned.gif" class="img-fluid" title="Poisoned Agent" alt="Poisoned RL Agent Behavior" />
  </div>
  <p>
    Example behavior of clean and poisoned RL agents. 
  </p>
</div>