<div class="tab-pane fade active show" id="mitigation-image-classification-jun2024" role="tabpanel" aria-labelledby="tab-mitigation-image-classification-jun2024">
  {% include mitigation-image-classification-jun2024/about-mitigation-image-classification-jun2024.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      test: The test dataset that is sequestered/hidden, used for evaluation. Submissions here should be fully realized with complete schema and parameters.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="mitigation-image-classification-jun2024-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light active show" id="tab-mitigation-image-classification-jun2024-test" href="#mitigation-image-classification-jun2024-test" data-toggle="tab" aria-controls="mitigation-image-classification-jun2024-test" aria-selected="true">test</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade active show" id="mitigation-image-classification-jun2024-test" role="tabpanel" aria-labelledby="tab-mitigation-image-classification-jun2024-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "mitigation-image-classification-jun2024_test_&lt;Submission Name&gt;.simg"<br>Accepting submissions: False<br>Number of models in mitigation-image-classification-jun2024, test: 24<br>Execution timeout (hh:mm:ss): 12:00:00</p>
      </div>
      {% include mitigation-image-classification-jun2024/jobs-mitigation-image-classification-jun2024-test.html %}
      {% include mitigation-image-classification-jun2024/results-unique-mitigation-image-classification-jun2024-test.html %}
      {% include mitigation-image-classification-jun2024/results-mitigation-image-classification-jun2024-test.html %}
    </div>
  </div>
</div>