<div class="tab-pane fade " id="image-classification-aug2020" role="tabpanel" aria-labelledby="tab-image-classification-aug2020">
  {% include image-classification-aug2020/about-image-classification-aug2020.html %}
  <ul class="nav nav-pills" id="image-classification-aug2020-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light active show" id="tab-image-classification-aug2020-test" href="#image-classification-aug2020-test" data-toggle="tab" aria-controls="image-classification-aug2020-test" aria-selected="true">test</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade active show" id="image-classification-aug2020-test" role="tabpanel" aria-labelledby="tab-image-classification-aug2020-test">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Example submission name: "image-classification-aug2020_test_container-name.simg"<br>Accepting submissions: False</p>
      </div>
      {% include image-classification-aug2020/jobs-image-classification-aug2020-test.html %}
      {% include image-classification-aug2020/results-unique-image-classification-aug2020-test.html %}
      {% include image-classification-aug2020/results-image-classification-aug2020-test.html %}
    </div>
  </div>
</div>