<div class="card-body card-body-cascade text-center pb-0">
  <p class="card-text text-left">
    Round 11 leaderboard for image classification September 2022.
    </br></br>
    Each AI is trained to perform image classification. For those AIs that have been attacked, the presence of the trigger pattern will cause the AI to reliably produce the wrong prediction. The Round 11 Training Data Download consists of 288 reference AIs (exactly 50% are poisoned) with example input data.
    More info <a href="docs/data.html#round-11">here</a>.
  </p>
  <div class="container">
    <img src="public/images/image-classification-sep2022-example.jpg" class="img-fluid" alt="Polygon Trigger on Street Sign" />
  </div>
  <p>
    Example poisoned image, where the purple polygon trigger on the street sign causes misclassification.
  </p>
</div>
