<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
{% include header.html %}
<main class="mt-5 pt-5">
    <div class="container">
{% include about.html %}
        <br>
{% include info.html %}

        <div class="card card-cascade wider">


            <!-- Card content -->
            <div class="card-body card-body-cascade pb-0 ">

                    <!-- Title -->
                    <h2 class="pb-1 card-title">Jobs</h2>

                <br>
                {% include jobs.html %}
            </div>

        </div>
        <hr>
        <div class="card card-cascade wider">


            <!-- Card content -->
            <div class="card-body card-body-cascade pb-0 ">

                <!-- Title -->
                <h2 class="pb-1 card-title">Results</h2>

                <br>
{% include results.html %}
            </div>
        </div>
<hr>
    </div>
</main>
{% include footer.html %}
</body>
</html>
