<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
{% include header.html %}
<main class="mt-5 pt-5">
    <div class="container-fluid">
<!--         {% include server-down.html %} -->

        {% include countdown.html %}

        {% include about.html %}
        <br>
        {% include info.html %}

        <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="es-status-title">Evaluation Server Status</h5>
                        <p class="card-text">Nodes: <span id="esIdleNodes"></span> idle; <span id="esRunningNodes"></span> running; <span id="esDownNodes"></span> down.
                            <br>
                            Accepting Submissions: <span id="esAcceptingSubmission"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="sts-status-title">Smoke Test Server Status</h5>
                        <p class="card-text">Nodes: <span id="stsIdleNodes"></span> idle; <span id="stsRunningNodes"></span> running; <span id="stsDownNodes"></span> down.
                            <br>
                            Accepting Submissions: <span id="stsAcceptingSubmission"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!--<div class="card-header bg-light">-->
            <ul class="nav nav-pills" id="serverTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link  waves-light active show" id="tab-eval-server" data-toggle="tab"
                       href="#eval-server"
                       role="tab" aria-controls="eval-server" aria-selected="true">Evaluation Server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="tab-test-server" data-toggle="tab"
                       href="#test-server"
                       role="tab" aria-controls="test-server" aria-selected="false">Smoke Test Server</a>
                </li>
            </ul>

            <div class="tab-content card" id="myClassicTabContentShadow">

                <div class="tab-pane fade active show" id="eval-server" role="tabpanel"
                     aria-labelledby="tab-eval-server">

                    <div class="card card-cascade wider">


                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">Teams/Jobs</h2>

                            {% include jobs.html %}
                        </div>

                    </div>
                    <hr>
                    <div class="card card-cascade wider">


                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">Results</h2>

                            <br>
                            {% include results_unique.html %}
                        </div>
                    </div>

                    <hr>
                    <div class="card card-cascade wider">


                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">All Results</h2>

                            <br>
                            {% include results.html %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="test-server" role="tabpanel"
                     aria-labelledby="tab-test-server">

                    <div class="card card-cascade wider">

                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">Test Teams/Jobs</h2>

                            <br>
                            {% include test-jobs.html %}
                        </div>
                    </div>
                                        <hr>
                    <div class="card card-cascade wider">


                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">Test Results</h2>

                            <br>
                            {% include test-results_unique.html %}
                        </div>
                    </div>

                    <hr>
                    <div class="card card-cascade wider">


                        <!-- Card content -->
                        <div class="card-body card-body-cascade pb-0 ">

                            <!-- Title -->
                            <h2 class="pb-1 card-title">All Test Results</h2>

                            <br>
                            {% include test-results.html %}
                        </div>
                    </div>
                </div>

            </div>
        <!--</div>-->

        <br>
        {% include codes.html %}

        <hr>

        {% include disclaimer.html %}
</main>
{% include footer.html %}
</body>
</html>
