<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}
<body>
{% include header.html %}
<main class="mt-2 pt-2">
    <div class="container-fluid">
<!--         {% include server-down.html %} -->

        {% include banner.html %}

        {% include info.html %}

        <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="es-status-title">Evaluation Server Status</h5>
                        <p class="card-text">Nodes: <span id="esIdleNodes"></span> idle; <span id="esRunningNodes"></span> running; <span id="esDownNodes"></span> down.
                            <br>
                            Accepting Submissions: <span id="esAcceptingSubmission"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-3 mb-md-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="sts-status-title">Smoke Test Server Status</h5>
                        <p class="card-text">Nodes: <span id="stsIdleNodes"></span> idle; <span id="stsRunningNodes"></span> running; <span id="stsDownNodes"></span> down.
                            <br>
                            Accepting Submissions: <span id="stsAcceptingSubmission"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        {% include leaderboards.html %}

        <br>
        {% include codes.html %}

        <hr>

        {% include disclaimer.html %}
</main>
{% include footer.html %}
</body>
</html>
