<div class="tab-pane fade active show" id="mitigation-llm-instruct-oct2024" role="tabpanel" aria-labelledby="tab-mitigation-llm-instruct-oct2024">
  {% include mitigation-llm-instruct-oct2024/about-mitigation-llm-instruct-oct2024.html %}
  <div class="card-body card-body-cascade">
    <p class="card-text text-left">
      train: The train dataset that is distributed with each round.<br>
      sts: The sts dataset uses a subset of the train dataset, useful for debugging container submission.<br>
    </p>
  </div>
  <ul class="nav nav-pills" id="mitigation-llm-instruct-oct2024-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link waves-light" id="tab-mitigation-llm-instruct-oct2024-train" href="#mitigation-llm-instruct-oct2024-train" data-toggle="tab" aria-controls="mitigation-llm-instruct-oct2024-train" aria-selected="false">train</a>
      <a class="nav-link waves-light" id="tab-mitigation-llm-instruct-oct2024-sts" href="#mitigation-llm-instruct-oct2024-sts" data-toggle="tab" aria-controls="mitigation-llm-instruct-oct2024-sts" aria-selected="false">sts</a>
    </li>
  </ul>
  <div class="tab-content card">
    <div class="tab-pane fade " id="mitigation-llm-instruct-oct2024-train" role="tabpanel" aria-labelledby="tab-mitigation-llm-instruct-oct2024-train">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "mitigation-llm-instruct-oct2024_train_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in mitigation-llm-instruct-oct2024, train: 2<br>Execution timeout (hh:mm:ss): 0:20:00</p>
      </div>
      {% include mitigation-llm-instruct-oct2024/jobs-mitigation-llm-instruct-oct2024-train.html %}
      {% include mitigation-llm-instruct-oct2024/results-unique-mitigation-llm-instruct-oct2024-train.html %}
      {% include mitigation-llm-instruct-oct2024/results-mitigation-llm-instruct-oct2024-train.html %}
    </div>
    <div class="tab-pane fade " id="mitigation-llm-instruct-oct2024-sts" role="tabpanel" aria-labelledby="tab-mitigation-llm-instruct-oct2024-sts">
      <div class="card-body card-body-cascade">
        <p class="card-text text-left">Required filename format: "mitigation-llm-instruct-oct2024_sts_&lt;Submission Name&gt;.simg"<br>Accepting submissions: True<br>Number of models in mitigation-llm-instruct-oct2024, sts: 2<br>Execution timeout (hh:mm:ss): 0:20:00</p>
      </div>
      {% include mitigation-llm-instruct-oct2024/jobs-mitigation-llm-instruct-oct2024-sts.html %}
      {% include mitigation-llm-instruct-oct2024/results-unique-mitigation-llm-instruct-oct2024-sts.html %}
      {% include mitigation-llm-instruct-oct2024/results-mitigation-llm-instruct-oct2024-sts.html %}
    </div>
  </div>
</div>